#
kind/pvconf.yaml
kind/storage/*
!kind/storage/.gitkeep
avalanche/manifest/overlays/kustomization.yaml
fluent-bit/manifest/overlays/kustomization.yaml
mailpit/manifest/overlays/kustomization.yaml
victoriametrics/alerts/overlays/kustomization.yaml
victoriametrics/manifest/overlays/kustomization.yaml
victoriametrics/downsampling/overlays/kustomization.yaml
victoriametrics/vlogs/overlays/kustomization.yaml
unused/*
debug/tcpdump/manifests/*
debug/tcpdump/httpdump/capture.pcap
debug/tcpdump/httpdump/httpdump_v*
debug/tcpdump/socatdump/capture.pcap
debug/tcpdump/socatdump/socatdump_v*
