#
*_running
kind/pvconf.yaml
kind/storage/*
!kind/storage/.gitkeep
avalanche/manifest/overlays/kustomization.yaml
mailpit/manifest/overlays/kustomization.yaml
prometheus/downsampling/overlays/kustomization.yaml
victoriametrics/alerts/overlays/kustomization.yaml
victoriametrics/manifest/overlays/kustomization.yaml
victoriametrics/downsampling/overlays/kustomization.yaml
victoriametrics/vlogs/overlays/kustomization.yaml
unused/*
debug/tcpdump/manifests/*
debug/tcpdump/httpdump/capture.pcap
debug/tcpdump/httpdump/httpdump_v*
debug/tcpdump/socatdump/capture.pcap
debug/tcpdump/socatdump/socatdump_v*
fluent-bit/helm/values_*.yaml
grafana/helm/values_*.yaml
kube-state-metrics/helm/values_*.yaml
prometheus-blackbox-exporter/helm/values_*.yaml
prometheus-node-exporter/helm/values_*.yaml
prometheus-pushgateway/helm/values_*.yaml
prometheus/helm/values_*.yaml
victoriametrics/operator-helm/values_*.yaml
